.radio-button-container input[type="radio"] {
    margin-right: 20px; /* ボタン間の水平間隔 */
}

.rounded-table {
    border-collapse: separate;
    border-radius: 10px;
}

.rounded-table th,
.rounded-table td {
    border: 1px solid #dee2e6; /* テーブルのボーダーを明示的に指定 */
    border-radius: 10px; /* セルの角を丸くする */
}

.sidebar-menu .treeview-menu > li > a {
    padding-left: 15px; /* アイコンの余白を削除 */
}